.container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 200px 450px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, .2);
  }
  .container > h3{
    color: white;
    padding: 20px 0;
  }
  .date-inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .date-inputs div {
    flex: 1;
    padding: 0 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: white;

  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    color: white ;
  }